<div class="panel-heading">
  <h2>Test Result: {{testResult?.id}}</h2>
</div>
<div *ngIf="testResult" class="panel-body">
  <form>
    <div class="row">
      <div class="form-group col-sm-4">
        <div class="col-sm-6 page-info-line-height">
          <label for="testName" class="pull-right">Test:</label>
        </div>
        <div class="col-sm-6 page-info-line-height wrap-text">
          <a id="testName" routerLink="/project/{{projectId}}/test/{{testResult?.test.id}}">{{testResult?.test.name}}</a>
        </div>
        <div class="col-sm-6 page-info-line-height">
          <label for="testRun" class="pull-right">Test Run:</label>
        </div>
        <div class="col-sm-6 page-info-line-height">
          <a id="testRun" routerLink="/project/{{projectId}}/testrun/{{testResult?.test_run_id}}">Show Testrun</a>
        </div>
        <div *ngIf="testResult?.finish_date" class="col-sm-6 page-info-line-height">
          <label class="pull-right">Duration: </label>
        </div>
        <div *ngIf="testResult?.finish_date" class="col-sm-6 page-info-line-height">
          {{calculateDuration()}}
        </div>
        <div class="col-sm-6 page-info-line-height">
          <label class="pull-right" for="debug">Debug Result: </label>
        </div>
        <div class="col-sm-6 page-info-line-height">
          <input (change)="changeDebugState($event.srcElement)" id="debug" type="checkbox" name="debug" [(ngModel)]="testResult.debug"
            [disabled]="!userService.IsLocalManager() && !userService.IsManager() && !userService.IsEngineer()">
        </div>
      </div>

      <div class="form-group col-sm-4">
        <div class="col-sm-6 margin-y-sm">
          <label for="testResultSelector" class="pull-right label-inline">Result: </label>
        </div>
        <div class="col-sm-6 margin-y-sm">
          <lookup-colored *ngIf="listOfFinalResults.length" [colorProperty]="'color'" [propertiesToShow]="['name']" [array]="listOfFinalResults"
            [model]="testResult.final_result" (modelChange)="setNewResult($event)" [disabled]="!userService.IsLocalManager() && !userService.IsManager() && !userService.IsEngineer()"></lookup-colored>
        </div>
        <div *ngIf="listOfResolutions && testResult.final_result.id !== 2" class="col-sm-6 margin-y-sm">
          <label for="testResolutionSelector" class="pull-right label-inline">Resolution: </label>
        </div>
        <div *ngIf="listOfResolutions && testResult.final_result.id !== 2" class="col-sm-6 margin-y-sm">
          <lookup-colored *ngIf="listOfResolutions.length && testResult.final_result.id !== 2" [colorProperty]="'color'" [propertiesToShow]="['name']"
            [array]="listOfResolutions" [model]="testResult.test_resolution" (modelChange)="resolutionUpdate($event)" [disabled]="!userService.IsLocalManager() && !userService.IsManager() && !userService.IsEngineer()"></lookup-colored>
        </div>
        <div *ngIf="users && testResult" class="col-sm-6 margin-y-sm">
          <label for="assigned_user" class="pull-right label-inline">Assignee: </label>
        </div>
        <div *ngIf="users && testResult" class="col-sm-6 margin-y-sm">
          <lookup-autocomplete [propertiesToShow]="['user.first_name', 'user.second_name']" [array]="users" [(model)]="testResult.assigned_user"
            [allowEmptyValue]="true" (modelChange)="testAssigneeUpdate($event)"[disabled]="!userService.IsLocalManager() && !userService.IsManager() && !userService.IsEngineer()"></lookup-autocomplete>
        </div>
      </div>
    </div>
    <div id="commentBox" class="row panel-padding">
      <div class="col-sm-12 padding-0">
        <label for="comment">Comment:</label>
      </div>
      <inline-editor id="comment" [placeholder]="'Comment'" empty="No comment yet." name="comment" cols="150" type="textarea" [(ngModel)]="testResult.comment"
        [disabledInline]="!userService.IsLocalManager() && !userService.IsManager() && !userService.IsEngineer()"></inline-editor>
    </div>
    <div *ngIf="userService.IsLocalManager() || userService.IsManager() || userService.IsEngineer()" class="row panel-padding">
      <button type="submit" (click)="Update()" class="btn btn-success">Update</button>
    </div>

    <div *ngIf="testResult.log || testResult.fail_reason" class="row panel-padding">
      <label for="log">Logs:</label>
      <pre class="logs-form">
<b *ngIf="testResult.log">Fail Reason:</b>
{{testResult?.fail_reason}}
        
<b *ngIf="testResult.log">Logs:</b>
{{testResult?.log}}
      </pre>
    </div>
  </form>
</div>